<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clixove</title>
    {% include 'clixove.org/packages.html' %}
</head>
<body>
<div class="container-fluid">
    <div class="row">{% include 'clixove.org/navigator.html' %}</div>
    <div class="row alert">
        <div class="col-md-12">
            <h1 class="my-4 text-center">舆情事件的Granger因果检验软件</h1>
        </div>
    </div>
    <div class="row alert">
        <div class="col-md-12 text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-lg btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    采集数据
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="https://github.com/dataabc/weibo-search" target="_blank">
                        从新浪微博搜索话题相关的帖子
                    </a></li>
                </ul>
            </div>
            <label style="width: 4ch;"></label>
            <button type="button" class="btn btn-lg btn-outline-success" onclick="window.open('/task/list', '_self')">
                分析数据
            </button>
        </div>
    </div>
    <div class="row alert justify-content-center">
        <div class="col-md-8">
            <p class="lead fw-normal">软件简介</p>
            <p>
                当企业推出宣传活动时, 会在网络论坛或社交媒体上引起一番讨论. 但是, 一些企业的竞争对手可能雇佣大量的低级账户或使用大量的机器人,
                发表负面评论, 影响客户群体对真实商品或服务质量的认知. 本软件使用BERT-3自然语言处理模型解析评论文本,
                接着通过DBSCAN聚类将评论总结为数个舆情事件, 然后通过统计学领域的"Granger因果检验"技术, 识别舆情事件在不同用户之间的互相影响.
                关于因果关系的主动方, 本软件可以追踪已知的恶意评论在社区中的传播链路; 关于因果检验的被动方, 本软件可以检验一个用户的负面态度,
                是受到哪些评论的影响或是自己产生的, 从而使别被雇佣的低级账户.
            </p>
        </div>
    </div>
    <div class="row alert justify-content-center">
        <div class="col-md-8">
            <p class="lead fw-normal">分析流程</p>
        </div>
    </div>
    <div class="row alert justify-content-center">
        <div class="col-md-4">
            <img src="/static/workflow_cn.png" width="100%">
        </div>
        <div class="col-md-4">
            <p><b>概念解释:</b></p>
            <p><a href="https://en.wikipedia.org/wiki/Granger_causality" target="_blank">Granger因果检验</a></p>
            <p><a href="https://en.wikipedia.org/wiki/BERT_(language_model)" target="_blank">BERT-3模型</a></p>
        </div>
    </div>
    <div class="row">{% include 'clixove.org/copyright.html' %}</div>
</div>
</body>
</html>
