<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Confirmation</title>
</head>
<body>
    <p> 感谢注册 Clixove 组织的软件! </p>
    <p>
        这是您的注册邀请码:
        <span style="font-size: larger"><b>{{ invitation_code }}</b></span>
    </p>
    <p>
        如果您没有注册任何本公司的软件, 并且觉得这封邮件打扰了您, 请发送邮件至 cloudy@clixove.com 投诉.
        我们将调查是否有人恶意地批量注册, 您的邮件地址是否泄露在公共互联网上.
    </p>
    <p>如需获取更多信息, 请访问: https://blog.clixove.com/</p>
    <p>顺颂商祺! 祝愿科技让现代生活更美好.</p>
    <p>Cloudy</p>
    <p>来自 Clixove 的软件开发者</p>
</body>
</html>
