<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clixove</title>
    {% include 'clixove.org/packages.html' %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        {% include 'clixove.org/navigator.html' %}
        <div class="alert alert-success">已成功发送注册确认邮件.</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead text-center fw-normal">激活用户</p>
            <form action="/my_login/confirm" method="post">
                {{ invitation_code_sheet.as_p }}
                <div class="text-center">
                    <input type="submit" value="提交" class="btn btn-outline-success">
                </div>
            </form>
        </div>
    </div>
    <div class="row">{% include 'clixove.org/copyright.html' %}</div>
</div>
</body>
</html>
